# Dependencies
node_modules/
media/
# Database
*.db
*.db-shm
*.db-wal

# WhatsApp session
session/
auth_info/

# Environment
.env

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
